<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="acorn.omakase.repository.UserMapper">

    <select id="getUserList" resultType="acorn.omakase.domain.User">
        SELECT * FROM user
        ORDER by name asc
    </select>

    <insert id="signup" parameterType="acorn.omakase.domain.User" useGeneratedKeys="true"
            keyProperty="userId" keyColumn="user_id">
        INSERT INTO USER (login_id, name, password, email, region, nickname)
        VALUES (#{loginId}, #{name}, #{password}, #{email}, #{region}, #{nickname})
    </insert>


    <select id="findid" parameterType="acorn.omakase.domain.User" resultType="String">
        SELECT login_id FROM USER WHERE name=#{name} and email=#{email}
    </select>
  
    <select id="login" parameterType="acorn.omakase.domain.User" resultType="acorn.omakase.domain.User">
        SELECT COUNT(*)
        FROM USER
        WHERE login_id = #{loginId} AND password = #{password}
    </select>

    <!--회원 암호 가져오기-->
    <select id="getPw" parameterType="acorn.omakase.domain.User" resultType="String">
        SELECT password FROM USER WHERE user_id = #{userId}

    </select>

    <!--회원 탈퇴-->
    <delete id="deleteId" parameterType="acorn.omakase.domain.User" >
        DELETE FROM USER WHERE user_id = #{userId}
    </delete>

    <!--아이디 중복 확인-->
    <select id="idValidate" parameterType="acorn.omakase.domain.User" resultType="int">
        SELECT COUNT(*)
        FROM USER
        WHERE login_id = #{loginId}
    </select>
</mapper>