<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="acorn.omakase.repository.PostMapper">

    <!-- 게시글 등록 -->
    <insert id="insertPost" parameterType="acorn.omakase.domain.Post" useGeneratedKeys="true"
            keyProperty="postId" keyColumn="post_id">
        insert into omakase.post(title, content, user_id, category) values(#{title}, #{content}, #{userId}, #{category})
    </insert>

    <update id="updatePost" parameterType="acorn.omakase.domain.Post">
        update omakase.post set title = #{title}, content = #{content}, category = #{category} where post_id = #{postId}
    </update>

    <delete id="deletePost" parameterType="int">
        delete from omakase.post where post_id = #{postId}
    </delete>

    <select id="findById" parameterType="Long" resultType="acorn.omakase.dto.postdto.PostResponse">
<!--        select
        p.title,
        p.content,
        DATE_FORMAT(p.created_at, '%Y-%m-%d %H:%i') as created_at,
        p.category,
        u.nickname
        from POST p
        join user u
        on p.user_id = u.user_id
        where post_id = #{postId}-->

        select u.nickname, p.*, c.*
        from omakase.POST p
        join omakase.user u ON p.user_id = u.user_id
        join omakase.comment c on p.post_id = c.post_id
        where post_id = #{postId}
        order by p.created_at desc;
    </select>

    <select id="selectCategoryPostList" resultType="map" parameterType="String">
        select * from omakase.post where category = #{category} order by createdAt desc
    </select>

    <!-- 게시글 리스트 조회 -->
    <select id="findPostListByNewest" parameterType="acorn.omakase.dto.postdto.NewestPostDto"
            resultType="map">
        select p.post_id,
        p.title,
        DATE_FORMAT(p.created_at, '%Y-%m-%d %H:%i') as created_at,
        u.nickname
        from POST p
        join user u
        ON p.user_id = u.user_id
        order by p.created_at desc

    </select>

    <!-- 카운트 쿼리 -->
    <select id="count" parameterType="acorn.omakase.dto.postdto.NewestPostDto" resultType="int">
        SELECT COUNT(*)
        FROM POST
    </select>
</mapper>